@keyframes float-up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    } /* Float up */
    100% {
        transform: translateY(0);
    } /* Float back down */
}

.codingWitch img:nth-child(2) {
    --i: 0;
}
.codingWitch img:nth-child(3) {
    --i: 1;
}
.codingWitch img:nth-child(4) {
    --i: 2;
}
.codingWitch img:nth-child(5) {
    --i: 3;
}
.float-item {
    animation: float-up-down 4s ease-in-out infinite
        alternate;
    animation-delay: calc(var(--i, 0) * 0.5s);
}
.character-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

@keyframes wizard-glow {
    0% {
        filter: drop-shadow(
            0 0 0px var(--pico-mark-background-color)
        );
    }
    50% {
        filter: drop-shadow(
            0 0 20px var(--pico-mark-background-color)
        );
    }
    100% {
        filter: drop-shadow(
            0 0 0px var(--pico-mark-background-color)
        );
    }
}

.wizard-img.glow-animate {
    animation: wizard-glow 0.8s ease-in-out;
}
